body,
html {
  width: 100%;
  height: 100%;
}

/*Fonts*/

/*Navbar*/
.navbar {
  background-color: white;
  margin-top: 2%;
  border-top: 0;
}
.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}


/*Mobile*/

.navbar {
  margin-top: none;
}
