body{
  background-color: #F4F4F4;
}
.container{
  width: 100%;
  padding-left: 20px;
}
h1{
  color: #0D0D16;
  display: block;
  font-family: 'Avenir', sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: normal;
}
p{
  color: #F06E68;
  display: block;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 100%;
  letter-spacing: normal;
}
i{
  color: black;
}
#social li{
  display: inline;
  padding: 5px;
}
#social{
  padding: 10px;
}
ul {
  list-style-type: none;
}
li {
  float: left;
  padding-right: 15px;
}

li a {
  text-decoration: none;
  color: #0D0D16;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 520px){
  h1{
    font-size: 32px;
  }
  p{
    font-size: 14px;
  }
}
